@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  :root {
    --background: 45.85 20% 99.02%;
    --foreground: 154 69% 2%;
    --muted: 124 4.26% 93.57%;
    --muted-foreground: 124 8% 34%;
    --popover: 150 40% 98.04%;
    --popover-foreground: 154 69% 1%;
    --card: 150 40% 98.04%;
    --card-foreground: 154 69% 1%;
    --border: 180 4.87% 94.34%;
    --input: 180 2.44% 91.96%;
    --primary: 142.64 26.58% 30.98%;
    --primary-foreground: 0 0% 100%;
    --secondary: 79.25 40.18% 73%;
    --secondary-foreground: 79.29 93.22% 22.69%;
    --accent: 66.14 56.98% 67.82%;
    --accent-foreground: 66.38 42.92% 29.6%;
    --destructive: 1 93% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 154 26% 31%;
    --chart-1: 154 26% 31%;
    --chart-2: 124 26% 31%;
    --chart-3: 184 26% 31%;
    --chart-4: 124 26% 34%;
    --chart-5: 154 29% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 81.92 49% 4%;
    --foreground: 154 26% 97%;
    --muted: 99.96 10.73% 15%;
    --muted-foreground: 124 8% 66%;
    --popover: 90 17.65% 14%;
    --popover-foreground: 154 26% 98%;
    --card: 95.45 16.67% 14%;
    --card-foreground: 154 26% 98%;
    --border: 154 1.86% 18%;
    --input: 154 1.63% 18%;
    --primary: 154 26% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 106.72 16.97% 40.99%;
    --secondary-foreground: 106.29 0% 100%;
    --accent: 66.38 32.18% 37.83%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1 93% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 154 26% 31%;
    --chart-1: 154 26% 31%;
    --chart-2: 124 26% 31%;
    --chart-3: 184 26% 31%;
    --chart-4: 124 26% 34%;
    --chart-5: 154 29% 31%;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
    outline-color: hsl(var(--ring) / 0.5);
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased;
  }
}
